interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://tailscale.com/.well-known/nodeinfo
  response:
    body:
      string: "<!DOCTYPE html><html><head><meta charSet=\"utf-8\"/><title>404</title><meta
        name=\"robots\" content=\"index,follow\"/><meta name=\"description\" content=\"Securely
        connect to anything on the internet with Tailscale. Built on WireGuard\xAE\uFE0F,
        Tailscale enables you to make finely configurable connections, secured end-to-end
        according to zero trust principles, between any resources on any infrastructure.\"/><meta
        property=\"og:title\" content=\"404\"/><meta property=\"og:description\" content=\"Securely
        connect to anything on the internet with Tailscale. Built on WireGuard\xAE\uFE0F,
        Tailscale enables you to make finely configurable connections, secured end-to-end
        according to zero trust principles, between any resources on any infrastructure.\"/><meta
        property=\"og:url\" content=\"https://tailscale.com/404\"/><meta property=\"og:image\"
        content=\"https://tailscale.com/api/og-image?id=747a1d74-fd7c-43c3-83f5-ae55218823dd\"/><link
        rel=\"canonical\" href=\"https://tailscale.com/404\"/><link rel=\"alternate\"
        type=\"application/rss+xml\" href=\"https://tailscale.com/blog/index.xml\"/><link
        rel=\"alternate\" type=\"application/rss+xml\" href=\"https://tailscale.com/changelog/index.xml\"/><link
        rel=\"alternate\" type=\"application/rss+xml\" href=\"https://tailscale.com/security-bulletins/index.xml\"/><meta
        name=\"viewport\" content=\"initial-scale=1.0, width=device-width, maximum-scale=1\"/><link
        rel=\"icon\" href=\"/favicon.png\" type=\"image/p[...]
