interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://social.jvns.ca/.well-known/nodeinfo
  response:
    body:
      string: '{"links":[{"rel":"http://nodeinfo.diaspora.software/ns/schema/2.0","href":"https://social.jvns.ca/nodeinfo/2.0"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"41981c7ccfa1674c1535b6eea835d7e5"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://social.jvns.ca/nodeinfo/2.0
  response:
    body:
      string: '{"version":"2.0","software":{"name":"mastodon","version":"4.5.2"},"protocols":["activitypub"],"services":{"outbound":[],"inbound":[]},"usage":{"users":{"total":4,"activeMonth":4,"activeHalfyear":4},"localPosts":7409},"openRegistrations":false,"metadata":{"nodeName":"Mastodon","nodeDescription":""}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"def238b77fc5db88a115321ee60e49e7"
    status:
      code: 200
      message: OK
version: 1
